<div class="container">
  <p style="color: green"><%= notice %></p>

  <%= render @restaurant %>

  <p><%= link_to "See Chef", chef_restaurant_path(@restaurant) %></p>
  <p></p>
  <div>
    <%= link_to "Edit this restaurant", edit_restaurant_path(@restaurant) %> |
    <%= link_to "Back to restaurants", restaurants_path %>
    <p></p>
    <p></p>

    <%= button_to "Destroy this restaurant", @restaurant, method: :delete %>
  </div>
</div>
